.tt-has-modal {
    overflow: hidden;
}

.tt-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, .4);
}

.tt-modal .tt-message {
    position: absolute;
    top: 30vh;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    background-color: #2c2c2c;
    color: #fff;
    font-size: 2em;
}

.specifics table tbody th:nth-child(3) {
    width: 58%;
}

.stat-line {
    height: 100px;
    overflow: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.stat-line > .sl {
    width: 50%;
    padding: 2px 5px 2px 0;
    font-size: 12px !important;
    color: #333 !important;
    display: flex;
    flex-direction: row;
}

.stat-line > .sl > .lbl {
    padding: 0 5px;
    flex-grow: 1;
}

.stat-line > .sl > .score {
    font-weight: bold;
}

.stat-line > .sl > .score {
    background-color: #00B06A;
    border-radius: 2px;
    color: #fff;
    height: 18px;
    padding: 0px 4px;
}

.stat-line > .sl > .score:empty {
    display: none;
}
